{% extends "admin/base_site.html" %}
{% block content %}
<h1>Pymes administration says... hello {{ data.idnumber }}!</h1>
<br />
<form method= "POST", action="/pymes/client_details/">
	{% csrf_token %} 
<table border="2">
<tr>
<td>Id Number</td>
<td>Birthdate</td>
<td>Loan Purpose</td>
<td>Loan Amount</td>
<td>Loan Period</td>
<td>Risk</td>
<td>Status</td>
</tr>

<INPUT TYPE="HIDDEN" NAME="data.idclient" VALUE="{{ data.idclient }}">
<tr><td>{{ data.idclient }}</td> 
	<INPUT TYPE="HIDDEN" NAME="data.idnumber" VALUE="{{data.idclient}}">
	<td>{{ data.birthdate }}</td> 
	<INPUT TYPE="HIDDEN" NAME="data.birthdate" VALUE="{{data.birthdate}}">
	<td>{{ data.loanpurpose }}</td> 
	<INPUT TYPE="HIDDEN" NAME="data.loanpurpose" VALUE="{{data.loanpurpose}}">
	<td>{{ data.loanamount }}</td>
	<INPUT TYPE="HIDDEN" NAME="data.loanamount" VALUE="{{data.loanamount}}">
	<td>{{ data.loanperiod }}</td>
	<INPUT TYPE="HIDDEN" NAME="data.loanperiod" VALUE="{{data.loanperiod}}">
	<td>{{ data.risk }}</td>
	<td>{{ data.status }}</td>
<td><input type=submit name=submit value="Refresh"></td>
</tr>
</table>
</form>
<br /><br />
<table border="1">
	<tr>
	<td>Quote Number</td>
	<td>Payment</td>
	<td>Interest</td>
	<td>Principal</td>
	<td>Balance</td>
	<td>Amortized Amount</td>
	</tr>

{% for re in records %}
<tr>
{% for r in re %}
<td>{{ r }}</td> 
{% endfor %}
</tr>
{% endfor %}
</table>
<br /><br />
<a href="/pymes">Back to Pymes</a>
{% endblock %}
