{% extends "admin/base_site.html" %}
{% block content %}

{% if is_authenticated %}
    {% csrf_token %}
<h1>Pymes administration says... hello {{ name }}!</h1>
<h2>Remember your costumers' site https://simulatorapp.herokuapp.com/pymes/loan_req/{{ number }}</h2>
<a href="/pymes/logout/">Logout</a><br /><br /><br />
<ul>
{% for l in loanlist %}
<li>{{ l }}  <a href='/pymes/update/{{ l }}'>Edit</a> <a href='/pymes/delete/{{ l }}'>Delete</a></li>
{% endfor %}
</ul>
<a href="/pymes/add_loan/">Add new loan types</a><br /><br />
<a href="/pymes/client_records">See Client's Records</a><br /><br />
{% else %} 
<h1>Pymes administration says... hello you are not authenticated</h1>
{{ request.COOKIES }}
{{ request }}
{{ is_authenticated }}
<a href="/pymes/register/">Register Here</a><br /><br />
<a href="/pymes/login/">Login</a><br />
{% endif %}
{% endblock %}
