{% extends "admin/base_site.html" %}
{% block content %}

<!DOCTYPE html>
<html>
    <head>
        <title>Loan Request</title>
    </head>
    <body>

        <div class="content">
            <span>
                <h1>Company name {{ pymes_loantype.id }}</h1>
            </span>
        </div>
        {% if created %}
        pymes says: <strong> Your Loan Request has been sent </strong>
        <a href="/pymes/client_details"> See Details.</a><br />
        
        {% else %}
         <br />
        <h2>Loan Request Form</h2><br />
        <form action="" method="POST"action="/pymes/loan_req/"
                enctype="multipart/form-data">
            {% csrf_token %}
            <table>
            {{ form.as_table }}
            </table>
        <input type="submit" name="submit" value="Send Request" />
        </form>
        {% endif %}
    </body>
</html>
{% endblock %}
